@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

/* navigation part style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    color: #0e0e0e;
}

.sing{
    font-size: 16px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 10px 20px;
    transition: all linear 0.3s;
    border-radius: 5px;
}

.sing:hover{
    background-color: #006A50;
    color: white;
}

 /* banner part style */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 15px;
}

.hero-contain{
    width: 50%;
}

.hero-contain h5{
    font-size: 18px;
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 16px;
    opacity: 50%;
}

.hero-contain h1{
    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 20px;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all linear 0.3s;
    border: none;
}