@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

/* navigation part style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    color: #0e0e0e;
}

.sing{
    font-size: 16px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 10px 20px;
    transition: all linear 0.3s;
    border-radius: 5px;
}

.sing:hover{
    background-color: #006A50;
    color: white;
}

 /* banner part style */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.hero-contain{
    width: 50%;
}

.hero-contain h5{
    font-size: 18px;
    font-weight: 500;
    color: #0e0e0e;
    margin-bottom: 16px;
    opacity: 50%;
}

.hero-contain h1{
    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 20px;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all linear 0.3s;
    border: none;
}

.btn:hover{
    background-color: #0e0e0e;
}

/* pillar part style */
.common_heading{
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e; 
    margin-bottom: 20px;
}

#Pillar{
   margin:80px auto;
}

.pillar_community{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pillar_c_1{
    width: 24%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    
}

.pillar_c_1 img{
    margin-bottom: 20px;
}

.pillar_c_1 h3{
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 10px;
    opacity: 80%;
}

.pillar_c_1 p{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
}


/* vision part style */
.c_pragraph{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    margin-bottom: 30px;
}

.vision_community{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision_c_1{
    width: 32%;
    background-color: #548ff54a;
    padding: 32px;
    border-radius: 16px;
}

.vision_c_1 img{
    margin-bottom: 20px;
}

.vision_c_1 h3{
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 10px;
    opacity: 80%;
}

.vision_c_1 p{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    margin-bottom: 20px;
    opacity: 70%;
}

.vision-2{
    background-color: #C6E4D6;
}

.vision-3{
    background-color: #F7EBCF;
}

.v1-btn{
    background-color: #5490F5;
}

.v2-btn{
    background-color: #09A15C;
}

.v3-btn{
    background-color: #FFC239;
}

.yunus{
    margin-top: 32px;
    padding: 48px 24px;
    background-color: #ffffff;
    border-radius: 16px;
    background-image: url(../image/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left 24px top 24px;
}

.yunus .title{
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
    margin-bottom: 10px;
    opacity: 80%;
}

.yunus .sub-title{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 60%;
}

.y_pragraph{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 80%;
    margin-bottom: 20px;
}

/* opinion part style */
#opinion{
    margin: 80px auto;
}

.qus_part{
   background-color: #ffffff;
    padding: 32px;
    border-radius: 16px;
}

.opinion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #006A50;
    padding: 24px;
}

.q_heding{
    background-color: #C6E4D6;
}

.qus_part h1{
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
}

.opi-btn{
    background-color: #C6E4D6;
    color: #0E0E0E;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
    border: 0.5px solid black;
}

.opi-btn:hover{
    background-color: #006A50;
    color: white;
    transition: all linear 0.3s;
}

.opi-pg{
   font-size: 16px;
    font-weight: 600;
    color: #0e0e0e;
}

/* news part style */

#news{
    margin: 80px auto;
}

.news_part{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
}

.satelite-pic{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.news_contain{
    margin-left: 32px;
}

.news_contain h1{
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e;
    opacity: 80%;
    margin: 10px 0;
}

.news_contain img{
    margin-bottom: 10px;
}

.news_contain p span{
    margin-left: 20px;
}

.news_contain p{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 70%;
    margin-bottom: 20px;
}

/* donate part style */
#donate_main{
    margin: 80px auto;
    padding: 0 88px;
}
.donate_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.donate{ 
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    transition: all linear 0.3s;
    margin-bottom: 32px;
}

.donate:hover{
    background-color: #C6E4D6;
    transition: all linear 0.3s;
}

.donate p{
    font-size: 35px;
    font-weight: 700;
    color: #0e0e0e;
    opacity: 80%;   
}

input[type="number"]{
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 32px;
}

input[type="number"]::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 30%;
    text-align: center;
}

.btn-box{
    margin: 0 auto;
    text-align: center;
}

/* subscribe part style */

#subscribe{
    padding: 80px 100px;
    margin: 80px auto;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.subscribe-container{
   text-align: center;
}

.sub_pra{
    padding: 0 190px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

input[type="email"]{
    width: 50%;
    padding: 18px 40px;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 32px;
}

input[type="email"]::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: #0e0e0e;
    opacity: 30%;
}

.btn-sub{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 16.5px 20px;
    border-radius: 0px 5px 5px 0px;
    transition: all linear 0.3s;
    margin-top: 1px;
    border: none;
}

input:focus {
    outline:none;
}

/* footer part style */
footer{
    background-color: #ffffff;
    padding: 50px 100px;
}

footer h1{
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 20px;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer ul li{
    margin: 0 10px;
    list-style: none;
}

footer ul li a{
    font-size: 30px;
    font-weight: 400;
    color: #0e0e0e;
}

footer ul li a:hover{
    color: #006A50;
    transition: all linear 0.3s;    
}

